<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>コンタクト | 技研ウェブ</title>
</head>

<!-- ul要素はUnorderd Listの略で、順序を問わないリストを作成する際に使用します。 li要素はリストの各項目を表します。 -->

<body>
    <main>
        <section>
            <div id="contents">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>フォーム</h1>
                            <form action="/express/contactsResult" method="POST">
                                <input type="text" name="username" />
                                <input type="text" name="message" />
                                <button type="submit">送信</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <%- include('./common/_footer.ejs') %>
    </footer>
</body>

</html>