<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_header.ejs') %>
    <title>コンタクト結果 | 技研ウェブ</title>
  </head>

  <!-- ul要素はUnorderd Listの略で、順序を問わないリストを作成する際に使用します。 li要素はリストの各項目を表します。 -->

  <body>
    <main>
      <section>
        <!-- コンテンツ -->
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>フォームから送信された値</h1>
              <table>
                <tr>
                  <th>項目</th>
                  <th>値</th>
                </tr>
                <tr>
                  <td><%= username %></td>
                  <td><%= message %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="container"><%- include('./common/_footer.ejs') %></footer>
  </body>
</html>
