<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../base.css">
    <title>コンタクト結果 | 技研ウェブ</title>
</head>

<!-- ul要素はUnorderd Listの略で、順序を問わないリストを作成する際に使用します。 li要素はリストの各項目を表します。 -->

<body>
    <div id="pagebody">

        <!-- ヘッダ(ホーム) -->
        <div id="header">
            <h1><a href="index.html">技研ウェブ</a></h1>
        </div>

        <!-- メニュー -->
        <ul id="menu">
            <li><a href="../index.html">ホーム</a></li>
            <li><a href="../aboutme.html">自己紹介</a></li>
            <li><a href="../portforio.html">ポートフォリオ</a></li>
            <li><a href="../contact.html">お問い合わせ</a></li>
        </ul>

        <!-- コンテンツ -->
        <div id="contents">
            <h1>フォームから送信された値</h1>
            <table>
                <tr>
                    <th>項目</th>
                    <th>値</th>
                </tr>
                <tr>
                    <td><%= username %></td>
                    <td><%= message %></td>
                </tr>
            </table>
        </div>
    </div>
</body>

<!-- フッタ -->
<div id="footer">
    <small>Copyright (c) 技研ウェブ All Rights Reserved.</small>
</div>


</html>