<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>コンタクト | 技研ウェブ</title>
</head>

<!-- ul要素はUnorderd Listの略で、順序を問わないリストを作成する際に使用します。 li要素はリストの各項目を表します。 -->

<body>
    <div id="pagebody">

        <!-- コンテンツ -->
        <div id="contents">
            <h1>フォーム</h1>
            <form action="/express/contactsResult" method="POST">
                <input type="text" name="username" />
                <input type="text" name="message" />
                <button type="submit">送信</button>
            </form>
        </div>
    </div>
</body>

<!-- フッタ -->
<div id="footer">
    <small>Copyright (c) 技研ウェブ All Rights Reserved.</small>
</div>

</html>