<!DOCTYPEhtml>
    <html>

    <head>
        <metacharset="utf8" />
        <link rel="stylesheet" href="/static/style.css"/>
    </head>

    <body>
        <h1><%=title%></h1>
    </body>

    </html>
