<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>index | 技研ウェブ</title>
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>TODO List</h1>
                        <h1><%= title %></h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <%- include('./common/_footer.ejs') %>
    </footer>

</body>

</html>