<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>index | 技研ウェブ</title>
</head>

<body>
    <div id="pagebody">

        <!-- コンテンツ -->
        <div id="contents">
            <h1>TODO List</h1>
            <h1><%= title %></h1>
        </div>
    </div>
</body>

<!-- フッタ -->
<div id="footer">
    <small>Copyright (c) 技研ウェブ All Rights Reserved.</small>
</div>

</html>