<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>ホーム | 技研ウェブ</title>
</head>

<!-- ul要素はUnorderd Listの略で、順序を問わないリストを作成する際に使用します。 li要素はリストの各項目を表します。 -->

<body>
    <div id="pagebody">
        <!-- コンテンツ -->
        <div id="contents">
            <h1>結果</h1>
            <table>
                <tr>
                    <th>タイトル</th>
                    <th>詳細</th>
                </tr>
                <tr>
                    <td><%= msg %></td>
                </tr>
            </table>
            <form action="/todolistResult" method="POST">
                <button type="submit">もう一回ポスト(あとで消す)</button>
            </form>
        </div>
    </div>
</body>

<!-- フッタ -->
<div id="footer">
    <%- include('./common/_footer.ejs') %>
</div>

</html>