<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf8" />
    </head>

    <body>
        <h1>トリキ</h1>
        <form action="/toriki" method="POST">
            <!-- <input type="text" name="username" />
            <input type="text" name="message" /> -->
            <button type="submit">ガチャる</button>
        </form>
    </body>

    </html>
