<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./common/_header.ejs') %>
    <title>トリキガチャ結果 | 技研ウェブ</title>
    <!-- 背景色のみCSSで設定。修正予定 -->
    <style type="text/css">
        body {
            background-color: #EDBB34;
        }
    </style>

</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>メニュー名</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><%= menuName %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>説明</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <td><%= description %></td>
                    </div>
                </div>
                <form action=/express/torikiResult method="POST">
                    <!-- <input type="text" name="username" />
            <input type="text" name="message" /> -->
                    <button type="submit">おかわり！</button>
                </form>
            </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <%- include('./common/_footer.ejs') %>
    </footer>

</body>

</html>
