<!DOCTYPEhtml>
    <html>

    <head>
        <meta charset="utf8" />
    </head>

    <body>
        <h1>結果</h1>
        <table>
            <tr>
                <th>メニュー名</th>
                <th>説明</th>
            </tr>
            <tr>
                <td><%= menuName %></td>
                <td><%= description %></td>
            </tr>
        </table>
        <p><%= all %></p>
    </body>

    </html>
