<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../base.css">
    <title>トリキガチャ結果 | 技研ウェブ</title>
</head>

<body>
    <div id="pagebody">

        <!-- ヘッダ(ホーム) -->
        <div id="header">
            <h1><a href="index.html">技研ウェブ</a></h1>
        </div>

        <!-- メニュー -->
        <ul id="menu">
            <li><a href="../index.html">ホーム</a></li>
            <li><a href="../aboutme.html">自己紹介</a></li>
            <li><a href="../portforio.html">ポートフォリオ</a></li>
            <li><a href="../contact.html">お問い合わせ</a></li>
        </ul>

        <!-- コンテンツ -->
        <div id="contents">
            <h1>結果</h1>
            <table>
                <tr>
                    <th>メニュー名</th>
                    <th>説明</th>
                </tr>
                <tr>
                    <td><%= menuName %></td>
                    <td><%= description %></td>
                </tr>
            </table>
            <form action=/express/torikiResult method="POST">
                <!-- <input type="text" name="username" />
            <input type="text" name="message" /> -->
                <button type="submit">もう一回ガチャる</button>
            </form>
        </div>
    </div>
</body>

<!-- フッタ -->
<div id="footer">
    <small>Copyright (c) 技研ウェブ All Rights Reserved.</small>
</div>

</html>